@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Century Gothic, Arial, sans-serif;
}

img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 1rem 10%; 
}

body {
    margin: 0;
    padding: 0; 
}

header {
    overflow: hidden; 
    background-color: black;
}

.logo {
    display: block;
    width: 8rem;
    background-color: black;  
}

.billboard { 
    overflow: hidden;   
    background-image: url(../images/background.jpg);
    background-color: black;
    background-repeat: repeat;
    background-position: center center;
    background-size: 30rem;
}

.apparel {
    background-image: url(../images/sunflower-girl.jpg);
    background-size: 30rem;
}

.company {
    background-image: url(../images/summer.jpg);
    background-size: 20rem;
}


h1 {
    text-align: center;
    margin: 4rem 0;
    font-size: 1.75rem;
    font-family: 'Dosis', Georgia, Times, serif;
    font-weight: normal;
    background-color: rgba(255, 255, 255, .8);
    text-transform: uppercase;
}

.nav-top {
    background-color: black;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    text-align: center;     
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline; 
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
        display: inline-block;
        margin: 0;
        padding: 1.5rem 10%;
        color: white;
        font-size: 1.25em; 
        text-decoration: none;
}

.selected { 
    background-color: #FFF;
}

article {
    margin: 0;
    padding: .25rem 5%;
    overflow: hidden;
    background-color: white;
}

.home {
    padding: 0;
}

.home p {
    padding: 0 5%;
}
    
 p {
    font-size: 1rem;
    font-family: Baskerville, Times New Roman, serif;
    line-height: 1.5rem;
    margin: 0 auto 1.5;
    padding: .25rem 10%;
}

.dropcap:first-letter {
    font-family: Century Gothic, Arial, sans-serif;
    font-size: 4.8rem;
    font-weight: normal;
    float: left;
    margin: 1.25rem .5rem .50rem 0;
    color: turquoise;  
}
    
article p:first-child { 
    font-size: 1rem;
    color: black;
    line-height: 1.5rem;
    margin: 0 auto 1.5;
    padding: .25rem 5%;   
}

h2 {
    font-family: Century Gothic, Arial, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    color: black;
    margin: 1.5rem auto .5rem;
    text-align: center;    
} 
figure {
    margin: 0 auto 1.5rem;
    width: 100%;
}  

figure a,
figure a:link, 
figure a:visited {
    font-size: 1rem;
    color: crimson;
    text-decoration: none;
}

figcaption {
    font-size: 1rem;
    color: black;
    padding: .25rem 5%;
    text-align: center;
}

details {
    font-size: .75rem;
    color: crimson;
    padding: .75rem 5%;
    margin: 0 auto 1.5rem;
}

hr {
    border: 1px dashed black;
    margin: 1.5rem auto .5rem;
} 
    
 footer {
    background-color: turquoise;
    overflow: hidden;
    padding: 1.5rem 5% 1rem;
}
    
footer p {
    font-size: .75rem;
    font-family: Geneva, Arial, sans-serif;
    color: white;
    padding: .10rem 5%;
    margin: .5rem 0;
}

footer a {
    font-family: Century Gothic, Arial, sans-serif;
    color: white;

} 

.nav-bottom {
    background-color: turquoise;
}

.nav-bottom ul {
    margin: 0;
    padding: 0;
    text-align: center;     
}

.nav-bottom li {
    margin: 0;
    padding: 0;
    display: inline; 
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
        display: inline-block;
        margin: 1rem;
        padding: 0 10%;
        color: white;
        font-size: .75rem; 
        text-decoration: none;
}

.bucket1 { 
    overflow:  hidden;
    background-color: turquoise; 
    padding: .25rem 5%;
    margin: 0;
}

.bucket1 figure {
    margin: 0;
    padding: 0;
}

.figcaption {
    font-size: .75rem;
    color: white;
}

.bucket1 a,
.bucket1 a:link,
.bucket1 a:visited {
    float: left;
    width: 45%;  
    margin: 0 10% 1.5rem 0; 
    padding: 0 10%;
    
}

.bucket1 a:last-child {
    margin: 0;
    background-color: turquoise
}